{% extends 'base.html' %}

{% block content %}
<section id="about">
    <div class="container">    
   
  
              <div class="about-grid">
                  <div class="grid-item bio">
                      <h2 class="logo">About me</h2>
                      This is my personal website - a place to write down some thoughts about topics that I find interesting and showcase some projects.
  
                      I am an analyst, former scientist and freelance developer with over 15 years of experience.
                      Being initially self taught, I started my way up from visual basic and the ADO/DAo world and Fortran 77 for numeric simulations. Upon discovering python (version 2.3) I started using it for all kind of automation tasks: building reporting pipelines, exporting measurement data from the bare-bones instruments into excel or similar user-friendly reporting tools. I consider my self a data scientist, but that’s a long story. Today, I am fascinated by stuff like XGboost, deep learning, and the simplicity of the Random Forest algorithm.
                      
                      While I have never worked as a full-time developer (I am an analyst at heart), I love to devour books,
                       articles, tutorials, full-blown courses, speeches and conferences
                        about analytics, web development, data science, algorithms and similar topics.
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ullam asperiores in doloribus pariatur quo sunt omnis veniam est consequuntur!
                      </div>
                  <div class="grid-item about-pic">
                      {% load static %}
                      <img src="{% static 'images/person.jpg' %}" alt="">
                  </div>
                  <div class="grid-item references">
                      <h4>Contact data & References</h4>  
                      
                      <div class="references-wrapper">
                      
                      <div><a href="file.pdf"><i class="far fa-file-pdf"></i> Resume</a></div>
                      <div><a href="linked"><i class="fab fa-linkedin"></i> LinkedIn</a></div>
                      <div><a href="https://github.com/freethrow"><i class="fab fa-github-square"></i> GitHub</a></div>
                      <div><a href=""><i class="fab fa-skype"></i> skype</a></div>
                  </div>
                  </div>
                 
         
    </div>
  </section>
{% endblock content %}